<div class="row">
  <!-- 検索系のサイドバー -->
  <div class="col-md-3">
    <!-- 検索系のサイドバー予定 -->
  </div>
  <!-- 投稿一覧 -->
  <div class="col-md-8">
    <h2 class="text-center">講座情報一覧</h2>
    <div class="row">
      <table class="health-course-table">
        <thead>
          <tr>
            <th>No.</th>
            <th>開催日</th>
            <th>タイトル</th>
          </tr>
        </thead>
        <tbody>
          <% @health_courses.each do |health_course| %>
            <tr class="health-course-clickable" data-link="<%= health_course_path(health_course) %>">
              <td><%= health_course.id %></td>
              <td><%= health_course.date.strftime("%Y年%m月%d日") %></td>
              <td><%= health_course.title %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


