<div class="row justify-content-center">
  <div class="col-md-10 about">
  <h1>Lounge<span style="color:rgb(212, 42, 42);">〜<ruby>結<rt>ゆい</rt></ruby>〜</span>について</h1>
  <h4>このサイトは、自分が経験した病気や怪我について話し、<br>
      相談し合い、患者同士コミュニケーションを<br>取ることができる場所です。
  </h4>
  <p>自分の病気や怪我の経験を話すことで頭と心の整理に役立てたり、<br>
     患者同士コミュニケーションを取り情報共有することで、<br>
     孤独感が緩和されることを目的としています。<br>
     また、地域医療の社会資源を活用することできれば、<br>
     より悩みや不安が緩和されると考えたため、<br>
     地域の健康講座や医療講座の情報も掲載しています。<br>
     自分自身の健康のために、ぜひご活用下さい。
  </p>
</div>
<div class="row about-image"></div>