<div class="row">
  <div class="col-md-2">
    投稿未確認件数　5件
    <!-- 投稿コメント未確認件数 -->
  </div>
  <!-- 投稿一覧 -->
  <div class="col-md-8">
    <h2 class="text-center">ユーザー 一覧</h2>
    <div class="row">
      <table class="end_user-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>ユーザー名</th>
          </tr>
        </thead>
        <tbody>
          <% @end_users.each do |end_user| %>
            <tr class="end_user-clickable" data-link="<%= admins_end_user_path(end_user) %>">
              <td><%= end_user.id %></td>
              <td><%= end_user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

