<% if params[:q].present? && params[:q][:title_or_contents_cont].present? %>
  <h2 class="index-heading">“ <%= params[:q][:title_or_contents_cont] %> ”の投稿一覧</h2>
<% elsif department %>
  <h2 class="index-heading">“ <%= @department.name %> ”の投稿一覧</h2>
<% elsif genre %>
  <h2 class="index-heading">“ <%= @genre.name %> ”の投稿一覧</h2>
<% elsif tag %>
  <h2 class="index-heading">“ <%= @tag.name %> ”の投稿一覧</h2>
<% else %>
  <h2 class="index-heading">投稿一覧</h2>
<% end %>
<p class="text-center">タイトルクリックで詳細が見れます</p>
