<p>診療科から探す</p>
<ul class="departments">
  <% parents.each do |parent| %>
    <li class="parents">
      <%= link_to "#{parent.name}", department_path(parent) %>
      <ul class="departments_children">
        <% parent.children.each do |child| %>
          <li class="children">
            <%= link_to "#{children.name}", department_path(child) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
