<div class="row">
  <!-- 検索系のサイドバー -->
  <div class="col-md-3">
    <!-- 検索系のサイドバー予定 -->
  </div>
  <!-- 投稿情報 -->
  <div class="col-md-6">
    <h2>新着投稿情報</h2>
  </div>
  <!-- 新規投稿、管理人からのお願い -->
  <div class="col-md-3">
    <%= link_to "記事投稿はこちら", new_post_path %>
    <p>ご利用上の注意</p>
  </div>
</div>