<div class="row">
  <!-- 検索　部分テンプレート -->
  <div class="col-md-3 search_box">
    <p>検索コーナー</p>
    <%= render partial: "post_search", locals: {search: @search, departments: @departments, genres: @genres} %>
  </div>
  <!-- 投稿一覧　部分テンプレート -->
  <div class="col-md-6">
    <h2 class="index-heading">投稿一覧</h2>
    <p class="text-center">タイトルクリックで詳細が見れます</p>
      <%= render partial: "post", collection: @posts %>
    <div class="row justify-content-center"><%= paginate @posts %></div>
  </div>
  <!-- 新規投稿、管理人からのお願い -->
  <div class="col-md-3">
    <div class="row new-post-link">
      <%= link_to new_post_path, class: "btn btn-outline-primary btn-lg btn-block" do %>
        投稿する<i class="fas fa-pencil-alt"></i>
      <% end %>
    </div>
    <div class="row">
      <p>ご利用上の注意</p>
    </div>
  </div>
</div>
