/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

//ユーザー新規登録画面
.post-announcement {
  margin: 2em 0;
  background: #dcefff;
}
.headline {
  font-size: 1.2em;
  background: #5fb3f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.text {
  padding: 15px 20px;
  margin: 0;
  p {
    border-bottom: 1px solid #000;
  }
  ul {
    margin: 0 auto;
  }
}

//ユーザー投稿一覧画面
.post-index {
  margin: 50px 0;
  position: relative;
  background-color: #fff8e8;
  box-shadow: 0px 0px 0px 5px #fff8e8;
  border: dashed 2px #f89174;
  padding: 0.2em 0.5em;
  color: #454545;
  p {
    margin: 0;
    padding: 0;
  }
  .post-contents-area {
    height: 130px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    padding: 10px;
  }
  .post-title {
    color: #454545;
    text-decoration: none;
    padding: 0 10px;
    font-size: 25px;
  }
}
.post-index:after {
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba( 0, 0, 0, 0.15);
}

//ユーザー投稿詳細画面
.post-area {
  margin: 50px 0;
  position: relative;
  background-color: #fff8e8;
  box-shadow: 0px 0px 0px 5px #fff8e8;
  border: dashed 2px #f89174;
  padding: 0.2em 0.5em;
  color: #454545;
  p {
    margin: 0;
    padding: 0;
  }
  .post-title {
    color: #454545;
    padding: 0 10px;
    font-size: 25px;
  }
  .end_user_name {
    color: #454545;
    text-decoration: none;
    padding: 0 10px;
  }
  .post-body-main {
    padding: 15px 10px;
    margin: 0;
  }
  .post-body-sub {
    padding: 15px 10px;
    margin: 0;
  }
  .post-footer {
    padding: 15px 10px;
    margin: 0;
  }
}
.post-area:after {
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba( 0, 0, 0, 0.15);
}
